<div id="left-charms" class="cast-color" style="display: block;">
  <div id="theme-charms-section" class="charms-section">
    <div class="charms-header">
      <h2>Cast</h2>
    </div>
    <form class="form-search">
      <div class="input-append">
        <input type="text" placeholder="Search..." class="search-query">
        <button type="submit" class="btn btn-info">
          <span class="icon-search-2"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="cast-list">
    <ul>
      <li>
        <img src="http://placehold.it/50x50"></img>
        <h3>Patrick Mclenithan</h3>
        <span class="icon-arrow-6"></span>
      </li>
    </ul>
  </div>
</div>
<div id="cast-body">
  <div class="workspace-header">
    <div class="row-fluid">
      <h2 class="span8">Episode Title</h2>
      <h3 class="pull-right clearfix">Air Date</h3>
    </div>
  </div>
    <ul>
      <li class="span4 cast-member">
          <h2 class="clearfix">Augie Lopez</h2>
          <div class="clearfix">
            <img class="pull-left" src="http://placehold.it/200x200" alt="">
            <button class="pull-right btn btn-info">
              <span class="icon-unlocked"></span>
            </button>
            <button class="btn btn-info">
              <span class="icon-cancel-2"></span>
            </button>
            <button class="btn btn-info">
              <span class="icon-pencil"></span>
            </button>
          </div>
          <div class="cast-stats">
            <span class="pull-left icon-phone"></span>
            <h4>559-559-5599</h4>
            <span class="pull-left icon-mail"></span>
            <h4>augielopez@gmail.com</h4>
          </div>
      </li>
      <li class="span4 cast-member">
          <h2 class="clearfix">Augie Lopez</h2>
          <div class="clearfix">
            <img class="pull-left" src="http://placehold.it/200x200" alt="">
            <button class="pull-right btn btn-info">
              <span class="icon-unlocked"></span>
            </button>
            <button class="btn btn-info">
              <span class="icon-cancel-2"></span>
            </button>
            <button class="btn btn-info">
              <span class="icon-pencil"></span>
            </button>
          </div>
          <div class="cast-stats">
            <span class="pull-left icon-phone"></span>
            <h4>559-559-5599</h4>
            <span class="pull-left icon-mail"></span>
            <h4>augielopez@gmail.com</h4>
          </div>
      </li>

    </ul>
</div>