<div id="left-charms" class="cast-color" style="display: block;">
  <div id="theme-charms-section" class="charms-section">
    <div class="charms-header">
      <h2>Settings</h2>
    </div>
    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span2 search-query">
        <button type="submit" class="btn btn-info">
          <span class="icon-search-2"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="charms-list">
    <ul>
      <li>
        <span class="icon-arrow-6"></span>
        <img src="http://placehold.it/64x64"></img>
        <h3>Patrick Mclenithan</h3>
        <span class="icon-arrow-6"></span>
      </li>
    </ul>
  </div>
</div>