body {
padding-top: 60px;
padding-bottom: 40px;
}

li{
  list-style: none;
}

.sidebar-nav {
padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-right: 5px;
  padding-left: 5px;
}}

.hero-unit {
  color:#333333;  
}

.btn-large{
  height: 40px;
  vertical-align: middle;
}

.carousel-control{
  line-height: 30px;
}

.app-top-nav{
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #781096;
}

.app-body{
  padding-top: 0px;
}

.cast-color{
  border: none;
  background-color: #014585;
  color: #ffffff;
}

.segments-color{
  border: none;
  background-color: #397260;
  color: #ffffff;
}

.details-color{
  border: none;
  background-color: #902D7F;
  color: #ffffff;
}

.custom-color-1{
  background-color: #1F0068;
}

.custom-color-2{
  background-color: #B81B1B;
}

.custom-color-3{
  background-color: #004D60;
}

.custom-color-4{
  background-color: #FE7C22;
}

/* charms */
@keyframes leftcharmslide
{
  from {left: -320px;}
  to {left: 0px;}
}

@-webkit-keyframes leftcharmslide /* Safari and Chrome */
{
  from {left: -320px;}
  to {left: 0px;}
}

#left-charms {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 100%;
  -webkit-animation: leftcharmslide 2s;
  animation: leftcharmslide 2s;
}

#left-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100%;
}

@keyframes charmslide
{
  from {right: -250px;}
  to {right: 0px;}
}

@-webkit-keyframes charmslide /* Safari and Chrome */
{
  from {right: -250px;}
  to {right: 0px;}
}

#charms {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100%;
  -webkit-animation: charmslide 2s;
  animation: charmslide 2s;
}

 #left-charms .charms-section,
#left-sidebar .charms-section{
  margin: 0 40px 40px 40px;
}

 #charms .charms-section {
  margin: 0 20px 40px 20px;
}

 #left-charms .charms-header,
#left-sidebar .charms-header, 
      #charms .charms-header {
  position: relative;
  padding: 60px 0 10px 0;
}

#charms .charms-header a.win-command span.win-commandimage.win-commandring,
#charms .charms-header a.win-command {
  width: 32px;
  height: 32px;
  vertical-align: top;
  font-size: 20px;
  line-height: 32px;
}

 #left-charms .charms-header h2,
#left-sidebar .charms-header h2, 
      #charms .charms-header h2 {
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
}

 #left-charms button,
#left-sidebar button,
      #charms button{
  min-width: 20px;
  border: none;
  color: #ffffff;
}


 #left-charms input,
#left-sidebar input,
      #charms input{
  min-width: 180px;
}


#charms h2,
#charms h3,
#charms h4,
#charms p,
#charms a,
#charms label {color: #19BFC9;}
#charms a:hover {background-color: #216475;}

#charms hr {border: 1px solid #357281;}

.cast-list,
.segments-list{
  position: absolute;
  top: 160px;
  bottom: 65px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 320px;
}

.details-list{
  position: absolute;
  top: 110px;
  bottom: 65px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 260px;
}

#charms .charms-list{
  position: absolute;
  top: 110px;
  bottom: 65px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
}

 #left-charms ul,
#left-sidebar ul,
      #charms ul{
  margin-left: 0;
}

.segments-list li,
    .cast-list li{
  position: relative;
  left: 0px;
  width: 320px;
  height: 54px;
}

.cast-list li:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

 .details-list li{
  position: relative;
  left: 0px;
  z-index: 10;
  overflow: visible;
  min-height: 54px;
  width: 256px;
}

.segments-list li:hover,
 .details-list li:hover{
  background-color: #1d1d1d;
}

.cast-list img{
  position: absolute;
  left: 0px;
  padding: 2px 4px;
  width: 50px;
  height: 50px;
}

    .cast-list span,
.segments-list span,
 .details-list span{
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: 25px;
}

.cast-list h3{
  position: absolute;
  right: 45px;
  left: 60px;
  overflow:hidden;
}

.segments-list h3,
 .details-list h3{
  padding:10px 50px 10px 20px;
  min-height: 34px;
}


#cast-body{
  position: absolute;
  top: 40px;
  right: 20px;
  left: 320px;
  padding-bottom: 70px;
}

#segments-body{
  position: absolute;
  top: 40px;
  right: 250px;
  left: 320px;
  padding-bottom: 70px;
}

#details-body{
  position: absolute;
  top: 40px;
  right: 0;
  left: 260px;
  padding-bottom: 70px;
}

.segments-sortable{
  margin:0;
}

.showSegments, .placeholder {
    margin:0;
    padding: 10px;
    width: inherit;
    border: 1px solid #333;
    background: #444444;
    cursor: move;
}

.placeholder {
    background: #444444;
}

.cast-member{
  margin-bottom: 20px;
  min-height: 260px;
  max-width: 320px;
  width: 320px;
  background-color: #5a5a5a;
}

.cast-member h2{
  padding:10px 20px;
} 

.cast-member img{
  padding: 0px 20px 10px;
  width: 200px;
  height: 200px;
}

.cast-member button{
  margin-bottom: 10px;
  min-width: 60px;
}

.cast-stats{
  overflow: auto;
  padding: 0px 20px 20px;
  width: 280px;
}

.cast-stats span{
  width: 30px;
  height: 22px;
  font-size: 18px;
  line-height: 24px;
}

.cast-stats h4{
  font-size: 20px;
  line-height: 24px;
}

.templates{
  margin: 0 0 10px 10px;
  width: 220px;
  height: auto;
}

.workspace-header{
  margin-bottom: 10px;
  padding: 10px;
  color: #5c5c5c;
  border-bottom: solid 2px #5c5c5c;
}

.details-list li.active{
  position: relative;
  border-top: solid 4px #ffffff;
  border-bottom: solid 4px #ffffff;
  border-left: solid 4px #ffffff;
  background-color: #1d1d1d;
}


a:link,
a:visited,
a:hover,
a:active{
  margin: 0;
  padding: 0;
  border: none;
  color: #ffffff;
  text-decoration: none;
}

.cast-content{
  padding: 20px 0;
}

.tab-content{
  padding: 20px 40px 0;
}

.side-border-right{
  height: inherit;
  border-right: solid 4px #ffffff;
}

#element-bar{
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 65px;
}

#element-bar li{
  height: 100px;
}

@keyframes elementBar
{
  from {left: 0%;}
  to {left: 100%;}
}

@-webkit-keyframes elementBar /* Safari and Chrome */
{
  from {right: 100%;}
  to {right: 0%;}
}

.test{
  background-color: #ffffff;
}