body {
padding-top: 60px;
padding-bottom: 40px;
}

.sidebar-nav {
padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}}

.hero-unit {
  color:#333333;	
}

.btn-large{
  height: 40px;
  vertical-align: middle;
}

.carousel-control{
  line-height: 30px;
}

.app-top-nav{
	position: fixed;
	width: 100%;
	background: #781096;
	z-index: 2;
}

.app-body{
	padding-top: 0px;
}

.cast-color{
  border: none;
  color: #ffffff;
  background-color: #014585;
}

.segments-color{
  border: none;
  color: #ffffff;
  background-color: #B81B6C;
}

/* charms */
@keyframes leftcharmslide
{
  from {left: -320px;}
  to {left:0px;}
}

@-webkit-keyframes leftcharmslide /* Safari and Chrome */
{
  from {left: -320px;}
  to {left:0px;}
}

#left-charms {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: none;
  animation:leftcharmslide 2s;
  -webkit-animation:leftcharmslide 2s
}

#charms {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 320px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: none;
}

#left-charms .charms-section,
     #charms .charms-section {
  margin: 0 40px 40px 40px;
}

#left-charms .charms-header, 
     #charms .charms-header {
  position: relative;
  padding: 60px 0 10px 0;
}

#charms .charms-header a.win-command span.win-commandimage.win-commandring,
#charms .charms-header a.win-command {
  font-size: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: top;
}

#left-charms .charms-header h2,
     #charms .charms-header h2 {
  display: inline-block;
  color: #FFF;
  margin-left: 10px;
}

#left-charms button,
     #charms button{
  border: none;
  color: #ffffff;
  min-width: 20px;
}


#left-charms input,
     #charms input{
  min-width: 180px;
}


#charms-body {
   min-width: 350px;
}

#charms h2,
#charms h3,
#charms h4,
#charms p,
#charms a,
#charms label {color: #19BFC9;}
#charms a:hover {background-color: #216475}

#charms hr {border: 1px solid #357281}

.charms-list{
  position: absolute;
  top: 160px;
  left: 0px;
  bottom: 65px;
  width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}

.charms-list li{
  position: relative;
  list-style: none;
  height: 54px;
  width: 320px;
  left: -25px;
}

.charms-list li:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.charms-list img{
  position: absolute;
  left: 0px;
  padding: 2px 4px;
  height: 50px;
  width: 50px;
}

.charms-list span{
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: 25px;
}

.charms-list h3{
  position: absolute;
  left: 60px;
  right: 45px;
  overflow:hidden;
}

#cast-body{
  position: absolute;
  top: 60px;
  right: 20px;
  bottom: 90px;
  left: 300px;
}

.cast-member{
  list-style: none;
  width: 300px;
  min-height: 260px;
  max-width: 300px;
  margin-bottom: 20px;
  background-color: #5a5a5a;
}

.cast-member h2{
  padding:10px 20px;
} 

.cast-member img{
  height: 180px;
  width: 180px;
  padding: 0px 20px 20px;
}

.cast-member button{
  min-width:60px;
  margin-bottom: 20px;
}