body {
padding-top: 60px;
padding-bottom: 40px;
}

.sidebar-nav {
padding: 9px 0;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-right: 5px;
  padding-left: 5px;
}}

.hero-unit {
  color:#333333;  
}

.btn-large{
  height: 40px;
  vertical-align: middle;
}

.carousel-control{
  line-height: 30px;
}

.app-top-nav{
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #781096;
}

.app-body{
  padding-top: 0px;
}

.cast-color{
  border: none;
  background-color: #014585;
  color: #ffffff;
}

.segments-color{
  border: none;
  background-color: #696969;
  color: #ffffff;
}

.segment-color-1{
  background-color: #00CCFF;
}

.segment-color-2{
  background-color: #189800;
}

.segment-color-3{
  background-color: #AA40FF;
}

.segment-color-4{
  background-color: #FE7C22;
}

/* charms */
@keyframes leftcharmslide
{
  from {left: -320px;}
  to {left: 0px;}
}

@-webkit-keyframes leftcharmslide /* Safari and Chrome */
{
  from {left: -320px;}
  to {left: 0px;}
}

#left-charms {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 100%;
  -webkit-animation: leftcharmslide 2s;
  animation: leftcharmslide 2s;
}

@keyframes charmslide
{
  from {right: -250px;}
  to {right: 0px;}
}

@-webkit-keyframes charmslide /* Safari and Chrome */
{
  from {right: -250px;}
  to {right: 0px;}
}

#charms {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100%;
  -webkit-animation: charmslide 2s;
  animation: charmslide 2s;
}

#left-charms .charms-section{
  margin: 0 40px 40px 40px;
}

 #charms .charms-section {
  margin: 0 20px 40px 20px;
}

#left-charms .charms-header, 
     #charms .charms-header {
  position: relative;
  padding: 60px 0 10px 0;
}

#charms .charms-header a.win-command span.win-commandimage.win-commandring,
#charms .charms-header a.win-command {
  width: 32px;
  height: 32px;
  vertical-align: top;
  font-size: 20px;
  line-height: 32px;
}

#left-charms .charms-header h2,
     #charms .charms-header h2 {
  display: inline-block;
  margin-left: 10px;
  color: #ffffff;
}

#left-charms button,
     #charms button{
  min-width: 20px;
  border: none;
  color: #ffffff;
}


#left-charms input,
     #charms input{
  min-width: 180px;
}


#charms-body {
   min-width: 350px;
}

#charms h2,
#charms h3,
#charms h4,
#charms p,
#charms a,
#charms label {color: #19BFC9;}
#charms a:hover {background-color: #216475;}

#charms hr {border: 1px solid #357281;}

.charms-list{
  position: absolute;
  top: 160px;
  bottom: 65px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 320px;
}

.charms-list li{
  position: relative;
  left: -25px;
  width: 320px;
  height: 54px;
  list-style: none;
}

.charms-list li:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.charms-list img{
  position: absolute;
  left: 0px;
  padding: 2px 4px;
  width: 50px;
  height: 50px;
}

.charms-list span{
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: 25px;
}

.charms-list h3{
  position: absolute;
  right: 45px;
  left: 60px;
  overflow:hidden;
}

#cast-body{
  position: absolute;
  top: 60px;
  right: 20px;
  left: 300px;
  padding-bottom: 70px;
}

.cast-member{
  margin-bottom: 20px;
  min-height: 260px;
  max-width: 320px;
  width: 320px;
  background-color: #5a5a5a;
  list-style: none;
}

.cast-member h2{
  padding:10px 20px;
} 

.cast-member img{
  padding: 0px 20px 10px;
  width: 200px;
  height: 200px;
}

.cast-member button{
  margin-bottom: 10px;
  min-width: 60px;
}

.cast-stats{
  overflow: auto;
  padding: 0px 20px 20px;
  width: 280px;
}

.cast-stats span{
  width: 30px;
  height: 22px;
  font-size: 18px;
  line-height: 24px;
}

.cast-stats h4{
  font-size: 20px;
  line-height: 24px;
}