<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
    	   <li><a href="#"><i class=""></i> Analytics</a></li>
    	   <li><a href="#"><i class=""></i> Stats</a></li>
    	   <li><a href="#"><i class=""></i> Scroll to 3</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
	    <h2>{{title}}</h2>
      <h3 id="analytics">Analyitics</h3>
        <div>
          content here
        </div><!--Analytics content<-->

        <h3 id="stats">Stats Table</h3>
        <div>
          content here
        </div><!--Stats Table content<-->
      <h3>
      </div><!--/span9-->
  </div><!--/row-->
</div><!--/.fluid-container-->