<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
    	   <li><a href="#"><i class=""></i> Scroll to 1</a></li>
    	   <li><a href="#"><i class=""></i> Scroll to 2</a></li>
    	   <li><a href="#"><i class=""></i> Scroll to 3</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
	    <h2>{{title}}</h2>

	   </div><!--/span9-->
  </div><!--/row-->
</div><!--/.fluid-container-->