<div class="container">
	<p class="pull-right">
	  <a  href="producer">
	  	<button class="btn btn-warning" type="button">Producer Link</button>
	  </a>
	  <a  href="">
	  	<button class="btn btn-warning" type="button">Empty Link</button>
	  </a>
	  <a  href="">
    	<button class="btn btn-warning" type="button">Sign-in/Sign up</button>
    </a>    
	</p>
</div>