<div id="left-charms" class="segments-color" style="display: block;">
  <div id="theme-charms-section" class="charms-section">
    <div class="charms-header">
      <h2>Segments</h2>
    </div>
    <form class="form-search">
      <div class="input-append">
        <input type="text" placeholder="Search..." class="search-query">
        <button type="submit" class="btn btn-info">
          <span class="icon-search-2"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="charms-list">
    <ul>
      <li>
        <span class="icon-arrow-6"></span>
        <img src="http://placehold.it/50x50"></img>
        <h3>Patrick Mclenithan</h3>
        <span class="icon-arrow-6"></span>
      </li>
    </ul>
  </div>
</div>

<!--right-sidebar-->
<div id="charms" class="segments-color" style="display: block;">
  <div id="theme-charms-section" class="charms-section">
    <div class="charms-header">
      <h2>Show Templates</h2>
    </div>
  </div>
  
</div>

<div id="segments-body">
</div>