<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
        <li class="active"><a href="#"><i class="icon-home"></i> All {{title}}</a></li>
    	   <li><a href="#"><i class=""></i> Table 1</a></li>
    	   <li><a href="#"><i class=""></i> Table 2</a></li>
    	   <li><a href="#"><i class=""></i> Table 3</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">

    <h2>{{title}}</h2>
    
    <table class="table table-bordered">
      <tr>
        <td>first</td><td>second</td><td>third</td><td>fourth</td><td>fifth</td>
      </tr>
      <tr>
        <td>{{first}}</td>
        <td>{{second}}</td>
        <td>{{third}}</td>
        <td>{{fourth}}</td>
        <td>{{fifth}}</td>
      </tr>
    </table>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->