<div id="left-charms" class="details-color" style="display: block;">
  <div id="theme-charms-section" class="charms-section">
    <div class="charms-header">
      <h2>Details</h2>
    </div>
    <form class="form-search">
      <div class="input-append">
        <input type="text" placeholder="Search..." class="search-query">
        <button type="submit" class="btn btn-info">
          <span class="icon-search-2"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="segments-list">
    <ul>
      <li class="segment custom-color-1">
        <h3>Introduction</h3>
        <span class="icon-arrow-6"></span>
      </li>
      <li class="segment custom-color-2">
        <h3>Short Story</h3>
        <span class="icon-arrow-6"></span>
      </li>
      <li class="segment custom-color-3">
        <h3>News</h3>
        <span class="icon-arrow-6"></span>
      </li>
      <li class="segment custom-color-4">
        <h3>Special Guest</h3>
        <span class="icon-arrow-6"></span>
      </li>
    </ul>
  </div>
</div>


<div id="details-body">
  <div class="workspace-header">
    <div class=" row-fluid">
      <h2 class="span8">Episode Title</h2>
      <h3 class="pull-right clearfix">Air Date</h3>
    </div>
  </div>
</div>