<div id="left-sidebar" class="details-color right-border" style="display: block;">
  <div class="side-border-right">
    <div id="theme-charms-section" class="charms-section">
      <div class="charms-header">
        <h2>Details</h2>
      </div>
    </div>
    <div class="details-list">
      <ul  ng-init="selected = thisShowSegments[0]">
        <li ng-repeat="item in thisShowSegments" ng-class="{active: selected == item}" class="custom-color-" >
          <a href ng-click="selected = item">
            <h3>{{item}}</h3>
            <span class="icon-arrow-6"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="element-bar" class="details-color">
  <ul>
    <li class="test"></li>  
  </ul>
</div>

<div id="details-body">
  <div class="workspace-header">
    <div class=" row-fluid">
      <h2 class="span8">Episode Title</h2>
      <h3 class="pull-right clearfix">Air Date</h3>
    </div>
  </div>
  <div class="tab-content">
    <div ng-repeat="item in thisShowSegments" ng-show="selected == item">
      This is {{item}} content..
    </div>
  </div>
</div>


