<div id="left-sidebar" class="details-color right-border" style="display: block;">
  <div class="side-border-right">
    <div id="theme-charms-section" class="charms-section">
      <div class="charms-header">
        <h2>Details</h2>
      </div>
    </div>
    <div class="details-list">
      <ul  ng-init="selected = 1">
        <li ng-class="{active: selected == 1}" class="custom-color-" >
          <a href ng-click="selected=1">
            <h3>Introduction</h3>
            <span class="icon-arrow-6"></span>
          </a>
        </li>
        <li ng-class="{active: selected == 2}" class="custom-color-">
          <a href ng-click="selected=2">
            <h3>Short Story</h3>
            <span class="icon-arrow-6"></span>
          </a>
        </li>
        <li ng-class="{active: selected == 3}" class="custom-color-" >
          <a href ng-click="selected=3">
            <h3>News</h3>
            <span class="icon-arrow-6"></span>
          </a>
        </li>
        <li  ng-class="{active: selected == 4}" class="custom-color-">
          <a href ng-click="selected=4">
            <h3>Special Guest</h3>
            <span class="icon-arrow-6"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="details-body">
  <div class="workspace-header">
    <div class=" row-fluid">
      <h2 class="span8">Episode Title</h2>
      <h3 class="pull-right clearfix">Air Date</h3>
    </div>
  </div>
  <div class="tab-content">
    <ul id="element-bar">
      <li class="test"><p>hey whats up</p></li>
  
    </ul>

    <div ng-show="selected == 1">
      This is Introduction content...
    </div>

    <div ng-show="selected == 2">
        This is ShortStory content...
    </div>

    <div ng-show="selected == 3">
        This is News content...
    </div>
    <div ng-show="selected == 4">
        This is Special Guest content...
    </div>
  </div>
</div>


