<div class="navbar navbar-inverse navbar-fixed-bottom" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a class="brand" href="/app/cast">
        	<button class="btn btn-large cast-color" type="button">Cast</button>
    	</a>
      <a class="brand" href="/app/cast">
          <button class="btn btn-large cast-color" type="button">Cast</button>
      </a>
      <a class="brand" href="/app/cast">
          <button class="btn btn-large cast-color" type="button">Cast</button>
      </a>
      <a class="brand" href="/app/cast">
          <button class="btn btn-large cast-color" type="button">Cast</button>
      </a>
      <a class="brand" href="/app/cast">
          <button class="btn btn-large cast-color" type="button">Cast</button>
      </a>
    </div>
  </div>
</div>