<div class="navbar navbar-inverse navbar-fixed-bottom" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a class="brand" href="/app/cast">
        	<button class="btn btn-large cast-color" data-match-route="/app/cast" type="button">Cast</button>
    	</a>
      <a class="brand" href="/app/segments">
          <button class="btn btn-large segments-color" data-match-route="/app/segments" type="button">Segments</button>
      </a>
      <a class="brand" href="/app/details">
          <button class="btn btn-large details-color" data-match-route="/app/details" type="button">Details</button>
      </a>
      <a class="brand" href="/app/cast">
          <button class="btn btn-large cast-color" data-match-route="/app/cast" type="button">Cast</button>
      </a>
      <a class="brand" href="/app/cast">
          <button class="btn btn-large cast-color" data-match-route="/app/cast" type="button">Cast</button>
      </a>
    </div>
  </div>
</div>