<div class="navbar navbar-inverse navbar-fixed-bottom" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/app/segments">
          <button class="btn btn-large segments-color" data-match-route="/app/segments" type="button">Segments</button>
      </a>
    </div>
  </div>
</div>