<div class="container">
	<p class="pull-right">
	  <a  href="producer">
	  	<button class="btn btn-warning" type="button">Sign-up</button>
	  </a>

	  <button class="btn btn-warning" type="button">Login</button>
    <button class="btn btn-warning" type="button">Logout</button>    
	</p>
</div>