<div class="app-top-nav">
  <div class="pull-left"> page specific searches and add content buttons here </div>

	<div class="pull-right">
    	<button class="btn btn-warning" type="button">Logout</button>    
	</div>
</div>