<div class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a ng-controller="appController" class="brand" href="">Demo App - {{name}}</a>
      <div class="pull-right">
          <a href="/app/goodbye">
            <button class="btn btn-warning" type="button">
              Goodbye
            </button>
          </a>
      </div>
    </div>
  </div>
</div>