<div class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
  <div class="navbar-inner">
    <div class="container-fluid">
    	<a class="brand" href="/backside">My Project Name</a>
      <div class="pull-right">
        <button class="btn btn-warning" type="button">Logout</button>
      </div>
    </div>
  </div>
</div>