<!DOCTYPE html>
<html ng-app="backsideEpiManager">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' />
    <link href="http://localhost:3000/css/bootstrap-responsive.min.css" rel="stylesheet" /> 
    <link href="http://localhost:3000/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://localhost:3000/css/bootmetro.css" rel="stylesheet" />
    <link href="http://localhost:3000/css/bootmetro-tiles.css" rel="stylesheet" />
    <link href="http://localhost:3000/css/bootmetro-charms.css" rel="stylesheet" />
    <!-- <link href='css/metro-ui-light.css' rel='stylesheet' /> -->
    <link href="http://localhost:3000/css/metro-ui-dark.css" rel="stylesheet" />
    <link href="http://localhost:3000/css/icomoon.css" rel="stylesheet" />
    <link href="http://localhost:3000/css/bootmetro-charms.css" rel="stylesheet" />
    <link href="http://localhost:3000/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <backside-navigation></backside-navigation>
    <div ng-view></div>
    <!--JS Files-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://localhost:3000/js/lib/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.1/angular-strap.min.js"></script>
    <script src="http://localhost:3000/js/backside/app.js"></script>
    <script src="http://localhost:3000/js/backside/controllers/backsideController.js"></script>
    <script src="http://localhost:3000/js/backside/controllers/newsArticlesController.js"></script>
    <script src="http://localhost:3000/js/backside/controllers/segmentsController.js"></script>
    <script src="http://localhost:3000/js/backside/controllers/shortStoriesController.js"></script>
    <script src="http://localhost:3000/js/backside/controllers/usersController.js"></script>
    <script src="http://localhost:3000/js/backside/controllers/youTubeLinksController.js"></script>
    <script src="http://localhost:3000/js/backside/directives/backside-navigation.js"></script>
    <script src="http://localhost:3000/js/services/services.js"></script>
  </body>
</html>
